body {
	background-color: beige;
};

header {
	width: auto;
	height: 100px;
	background-color: white;
};

#boxerButtons{
	width: 100%;
	background-color: white;
	height: 100px;
}

img,
p {
	padding: 5px;
	float: left;


}

button {
	padding: 10px;
	margin: 10px;
}